{% extends "_layout" %}

{% set buttonClasses = [
    'inline-block',
    'mt-4',
    'px-4',
    'py-2',
    'rounded',
    'border',
    'border-blue',
    'no-underline',
    'bg-blue',
    'text-white',
    'hover:bg-blue-dark',
    'hover:no-underline',
    'hover:border-blue-dark',
] %}

{# get product details regardless of field handle #}
{% set productInfo = craft.snipcart.getProductInfo(entry) %}
{% set formattedOptions = [] %}

{# if we have an options table, format an array for getBuyNowButton() #}
{% if entry.productOptions | length %}
    {% for option in entry.productOptions %}
        {% if option.name %}
            {% set formattedOptions = formattedOptions | merge([
                {
                    name: option.name,
                    price: option.price ?? 0
                }
            ]) %}
        {% endif %}
    {% endfor %}
{% endif %}

{# set up prev/next pagination #}
{% set params = craft.entries.section('products').orderBy('id asc').limit(null) %}
{% set prevEntry = entry.getPrev(params) %}
{% set nextEntry = entry.getNext(params) %}

{% block main %}
    <section class="max-w-md mx-auto mt-12 px-8 md:px-0">
        <h1 class="text-5xl font-medium pt-6 pb-2">
            {{- entry.title -}}
        </h1>

        {% if productInfo.price -%}
            <p class="font-bold text-white">
                {{ productInfo.price | currency }}
                {% if productInfo.inventory < 10 %}
                    <span class="text-red-dark text-sm ml-2">Low stock, order now!</span>
                {% endif %}
            </p>
        {%- endif %}

        <div class="text-white text-2xl leading-normal my-8">
            {{ entry.productDescription | markdown }}
        </div>

        <div class="relative bg-white rounded shadow p-8">
            <div class="inline-block text-xs text-grey py-1 px-2 text-right bg-white shadow absolute pin-t pin-r -mt-2 mr-8">Example</div>
            <p class="text-grey text-xs mb-8 leading-tight">Example buy buttons because the markup is important.</p>
            <div class="mt-0">
                <p class="text-sm pt-2 border-t border-grey-light">This is a really plain button.</p>

                {{ productInfo.getBuyNowButton({
                    classes: buttonClasses
                }) | raw }}
            </div>

            <div class="row mt-8">
                <p class="text-sm pt-2 border-t border-grey-light">This button includes <a href="https://snipcart.docs.workingconcept.com/templating/fields.html" target="_blank">custom options</a> from a Table field, if the product has them.</p>

                {{ productInfo.getBuyNowButton({
                    text: 'Buy Now + Options',
                    customOptions: formattedOptions ? [{
                        name: 'Product Option',
                        required: true,
                        options: formattedOptions
                    }] : null,
                    classes: buttonClasses
                }) | raw }}
            </div>
        </div>
    </section>

    <div class="max-w-md mx-auto mt-12 px-8 md:px-0 flex">
        <div class="w-1/2">
            <a class="hover:text-grey-dark hover:no-underline leading-none text-grey" href="{{ prevEntry.url ?? siteUrl }}">
                <svg class="fill-current hidden sm:inline-block" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"/>
                </svg>
                <div class="relative inline-block" style="top: -0.35rem;">
                    {{- prevEntry.title ?? "Home" -}}
                </div>
            </a>
        </div>
        <div class="w-1/2 text-right">
            <a class="hover:text-grey-dark hover:no-underline leading-none text-grey" href="{{ nextEntry.url ?? siteUrl }}">
                <div class="relative inline-block" style="top: -0.35rem;">
                    {{- nextEntry.title ?? "Home" -}}
                </div>
                <svg class="fill-current hidden sm:inline-block" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z"/>
                </svg>
            </a>
        </div>
    </div>
{% endblock %}